@use 'sass:map';

@import '../../../../../app/global/variables/colors.scss';

.navbar__item {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  .item__link {
    color: map.get($primary, 'light');
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
